.DS_Store
.Rhistory
schema/.DS_Store
shop_site/.DS_Store
shop_site/bonelli/.DS_Store
shop_site/dc/.DS_Store
shop_site/marvel/.DS_Store
shop_site/.Rhistory
schema/.$e-r_model.drawio.bkp
schema/.$e-r_model_users.drawio.bkp
config.ini
